.message-bubble.outgoing {
    position: relative;
}

.message-bubble.outgoing::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 220, 190, 1) transparent;
}

.message-bubble.incoming {
    position: relative;
}

.message-bubble.incoming::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(220, 250, 255, 1) transparent;
}